.iframe-container {
    width: 100vh;
    height: 40vh;
    background-color: aliceblue;
}



.overview-container {


    background-color: var(--secondary);
    height: 400px;
    width: 700px;
    border-radius: 7px;
    font-family: monospace;
    font-weight: 600;
}


.overview-container h3 {



    margin: 10px;
    

}


.backdrop {

    width: 100%;
    opacity: 20%;
    height: 100%;

}

:root {
    
    padding: 0px;
    margin: 0px;
   
}


.overview-container  {

    
    position: relative;
    
    background-color: transparent;

}

.cont {

    position: relative;
    display: flex;
    text-align: center;
    top: 0.3in;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}   


.title {


    position: relative;
    text-align: center;
    padding: 5px;
}